div{
    background-color: #800080;
    color: white;
    width: 100px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    display: inline-block;

    transition: 0.2s 0.2s ease-in-out;
}

div:hover{
    background-color: #4f044f;
}

.special{
    background-color: #760606;
    
}


/* 
    TRANFORM VALUE
    translate
    rotate
    scale
    matrix
*/

.special:hover{
    background-color: #9c0303;
    transform: translate(50px, -70px);
    transform: rotate(360deg);
    transform: scale(0.5, 1);
}