*{
    margin: 0;
    padding: 0;
}

#bg{
    background-color: bisque;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#con{
    background-color: black;
    height: 80%;
    width: 20%;
    border: 5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#red{
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 5px grey solid;
}

#amber{
    /* background-color: yellow; */
    height: 150px;
    width: 150px;
    border: 5px grey solid;
    border-radius: 100px;
    
    
}

#green{
    /* background-color: green; */
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 5px grey solid;
}
